/Exercício/exercicio14.13TokenizandoComparandoStrings/nbproject/private/
/Exercício/exercicio14.13TokenizandoComparandoStrings/build/
/Exercício/exercicio14.14TokenizandoComparandoStrings2/nbproject/private/
/Exercício/exercicio14.13TokenizandoComparandoStrings1/nbproject/private/
/Exercício/exercicio14.14TokenizandoComparandoStrings2/build/
/Exercício/exercicio14.15ConvertendoValoresIntEmCaracteres/nbproject/private/
/Exercício/exercicio14.15ConvertendoValoresIntEmCaracteres/build/