/Exercício/exercicio14.13TokenizandoComparandoStrings/nbproject/private/
/Exercício/exercicio14.13TokenizandoComparandoStrings/build/
/Exercício/exercicio14.14TokenizandoComparandoStrings2/nbproject/private/
/Exercício/exercicio14.13TokenizandoComparandoStrings1/nbproject/private/
/Exercício/exercicio14.14TokenizandoComparandoStrings2/build/
/Exercício/exercicio14.15ConvertendoValoresIntEmCaracteres/nbproject/private/
/Exercício/exercicio14.15ConvertendoValoresIntEmCaracteres/build/
/Exemplos/exemplo15.2FileAndDirectoryInfo/nbproject/private/
/Exemplos/exemplo15.2FileAndDirectoryInfo/build/
/Exemplos/exemplo15.2File/nbproject/private/
/Exemplos/exemplo15.2File/build/
/Exemplos/exemplo15.3CreateTextFile/nbproject/private/
/Exemplos/exemplo15.3CreateTextFile/build/
/Exemplos/exemplo15.6ReadTextFile/nbproject/private/
/Exemplos/exemplo15.6ReadTextFile/build/
